body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #67a9f5;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

nav {
    background-color: #0e7fc0;
    padding: 0.5rem 0;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 1rem;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 1rem;
}

footer {
    background-color: #67a9f5;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
